@font-face {
    font-family: "Outfit";
    src: url('assets/Outfit-VariableFont_wght.ttf');
}
  
:root {
    --slate-900: #1F314F;
    --slate-500: #68778D;
    --slate-300: #D5E1EF;
    --white: #FFFFFF;

    --spacing-200: 16px;
    --spacing-300: 24px;
    --spacing-500: 40px;
}

* {
    box-sizing: border-box;
}

body {
    background: var(--slate-300);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100vh;

    flex: 0;

    gap: 20px;

    font-family: 'Outfit', Arial, Helvetica, sans-serif;
    
    color: var(--slate-500);
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 0.2px;
}

h1 {
    color: var(--slate-900);
    font-size: 22px;
    line-height: 120%;
    letter-spacing: 0px;
    font-weight: 700;

    margin: 0;
    margin-bottom: var(--spacing-200);
}

p {
    margin: 0;
}

img {
    border-radius: 10px;
    width: 100%;
}

.card {
    width: 320px;
    border-radius: 20px;
    background-color: var(--white);
    padding: var(--spacing-200);
    padding-bottom: var(--spacing-300);
    text-align: center;
}

.card-text {
    text-align: center;
    padding: var(--spacing-200);
}
